.video-review {
	display: none;
	opacity: 0;
	z-index: -5000;
	height: 100vh;
	width: 100vw;
	position: fixed;
	background-color: white;
	top: 0;
	left: 0;
	justify-items: center;
	align-items: center;
	&__frame {
		width: 560px;
		height: 315px;
	}
	&__wrapper {
		padding: 150px 100px;
		border-radius: 50px;
		position: relative;
		background-color: $bg;
	}
	&.active {
		display: grid;
		opacity: 1;
		z-index: 5000;
	}
	.btn-close {
		display: block;
		position: absolute;
		top: 30px;
		right: 50px;
	}
}
