@font-face {
	font-family: 'TTNorms';
	src: local('../../fonts/TTNorms-Thin.ttf'), url('../../fonts/TTNorms-Thin.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}
@font-face {
	font-family: 'TTNorms';
	src: local('../../fonts/TTNorms-ExtraLight.ttf'),
		url('../../fonts/TTNorms-ExtraLight.ttf') format('truetype');
	font-weight: 200;
	font-style: normal;
}
@font-face {
	font-family: 'TTNorms';
	src: local('../../fonts/TTNorms-Light.ttf'),
		url('../../fonts/TTNorms-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'TTNorms';
	src: local('../../fonts/TTNorms-Regular.ttf'),
		url('../../fonts/TTNorms-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'TTNorms';
	src: local('../../fonts/TTNorms-Medium.ttf'),
		url('../../fonts/TTNorms-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'TTNorms';
	src: local('../../fonts/TTNorms-Bold.ttf'), url('../../fonts/TTNorms-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'TTNorms';
	src: local('../../fonts/TTNorms-Black.ttf'),
		url('../../fonts/TTNorms-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}
@font-face {
	font-family: 'Tenor Sans';
	src: local('../../fonts/TenorSans-Regular.ttf'),
		url('../../fonts/TenorSans-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
