.btn-close {
	display: none;
	width: 25px;
	height: 25px;
	position: relative;
	cursor: pointer;
	border: 1px solid transparent;
	border-radius: 100%;
	&__left,
	&__right {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 100%;
		height: 2px;
		background-color: $text-third;
	}
	&__left {
		transform: translateX(-50%) translateY(-50%) rotate(45deg);
	}
	&__right {
		transform: translateX(-50%) translateY(-50%) rotate(-45deg);
	}
}
