.navbar {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	align-items: center;
	justify-items: center;
	column-gap: 30px;
	&__link {
		font-size: 16px;
		line-height: 19px;
		letter-spacing: 0.533333px;
		color: $text-third;
		position: relative;
		transition: $transition;
		padding-bottom: 5px;
		&::before {
			content: '';
			position: absolute;
			width: 0;
			height: 1px;
			background-color: $text-second;
			bottom: 0;
			left: 50%;
			transform: translateX(-50%);
			transition: $transition;
		}
	}
}
