.phone-footer {
	padding-left: 30px;
	&__link {
		font-size: 27px;
		line-height: 26px;
		font-weight: bold;
		color: $text;
		position: relative;
		&::before {
			content: '';
			position: absolute;
			width: 0;
			height: 2px;
			bottom: 0;
			left: 50%;
			background-color: $text-second;
			transform: translateX(-50%);
			transition: $transition;
		}
	}
	&__call {
		padding-top: 10px;
		i {
			color: $text-second;
			font-size: 15px;
		}
		span {
			padding-left: 10px;
			font-size: 14px;
			line-height: 26px;
			color: $text-second;
		}
	}
}
