.burger {
	display: none;
	align-items: center;
	justify-items: center;
	cursor: pointer;
	padding: 10px 0;
	position: relative;
	width: 25px;
	span {
		display: inline-block;
		width: 100%;
		height: 2px;
		background-color: $burger;
	}
	&::before,
	&::after {
		content: '';
		position: absolute;
		width: 100%;
		height: 2px;
		left: 50%;
		transform: translateX(-50%);
		background-color: $burger;
	}
	&::before {
		top: 0;
	}
	&::after {
		bottom: 0;
	}
}
